@use './src/styles/variables';

.infos-bar{
    padding: 16px 24px;
    background-color: variables.$textColor ;
    display: flex;
    justify-content: space-between;
    

    &__infos{
        display: flex;
        gap: 40px;
        

        &_item{
            color: variables.$secondaryTextColor;
        text-decoration: none;
            font-size: 14px;

            b{
                font-size: 18px;
                color: variables.$secondaryTextColor;
                display: block;
                
            }
        }
    }

    @media(max-width:640px) {
        display: block;

        &__infos{
            display: block;

            &_item{
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width:1024px){
        &__infos{
            gap: 16px;
        }

    }
}